.sidebar-dark .nav-item .nav-link i {
    margin-right: .5rem !important;
}

#Inventory-Add-New button,
#Employee-Add-New button,
#Suppliers-Add-New button,
#EditModal button {
    margin-right: .5rem;
}

#AddToInvModal .modal-body {
    display: flex;
    align-items: center;
}

#AddToInvModal .modal-body > input {
    height: 36px;
    margin-right: 10px;
}

#transaction-add-more-btn {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    width: 50px;
    height: 50px;
    bottom: 25px;
    right: 45px;
}

#add_trans .qty-cell {
    vertical-align: middle;
}